.container {
    position: relative;
    display: block;
    width: fit-content;
    isolation: isolate;

    padding: 1px;

    overflow: hidden;
    z-index: 10;

    background-color: transparent;
    border-radius: 9999px;

    transition: background-color 0.9s ease;
}
.container:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.btnContainer {
    position: relative;
    z-index: 99;
}

@keyframes rotation {
    from {
        transform: scaleX(8) scaleY(1.5) rotate(0deg);
        opacity: 1;
    }

    to {
        transform: scaleX(8) scaleY(1.5) rotate(360deg);
        opacity: 1;
    }
}

.rotation {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px;

    filter: blur(6px);
    transform-origin: center center;

    background: conic-gradient(
            transparent 135deg,
            white 180deg,
            transparent 255deg
        ),
        conic-gradient(transparent -45deg, white 0deg, transparent 75deg);

    animation: rotation 5s linear infinite;
    pointer-events: none;
}

.common {
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 9999px;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;

    transition: all ease 0.25s;

    cursor: pointer;
    z-index: 99;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.gray {
    display: flex;
    align-items: center;

    grid-gap: 8px;
    gap: 8px;

    height: 44px;
    padding: 0 16px;

    border-radius: 9999px;
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.025em;
    font-weight: 500;
    border: 1px solid hsla(0, 0%, 100%, 0.15);
    background: linear-gradient(
            0deg,
            hsla(0, 0%, 100%, 0.12),
            hsla(0, 0%, 100%, 0.12)
        ),
        radial-gradient(
            100% 427.04% at 100% 0,
            hsla(0, 0%, 100%, 0.1) 0,
            hsla(0, 0%, 100%, 0) 100%
        ),
        radial-gradient(
            100% 462.63% at 0 0,
            hsla(0, 0%, 100%, 0.1) 0,
            hsla(0, 0%, 100%, 0) 100%
        ),
        radial-gradient(
            50% 50% at 50% 100%,
            hsla(0, 0%, 100%, 0.2) 0,
            hsla(0, 0%, 100%, 0) 100%
        );
}
