.activeContainer {
    position: relative;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    padding: 1.8rem;

    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px hsl(0deg 0% 100% / 15%);

    overflow: hidden;

    cursor: pointer;
    text-decoration: none;

    transform: rotate3d(0);
    transition: transform 0.3s ease-out;
}

.radial {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-image: var(--glow-bg);
    opacity: var(--glow-opacity);

    transition: opacity 0.3s ease;
    mix-blend-mode: plus-lighter;
    z-index: 2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    grid-gap: 64px;
    gap: 64px;
    padding: 32px;
}

.staticRadial {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--from) 0, var(--to) 71%);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    border-radius: 9999px;
    opacity: 0.2;
}
