body {
    height: 100vh;
    background-color: #000000;
}

* {
    font-family: "Space Grotesk", "Inter", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

*::selection {
    background-color: rgb(252, 46, 214);
    color: white;
    -webkit-text-fill-color: white;
}
